<form action="/products" method="post">
    <label>Nombre</label>
    <input name="name">
    <label>Precio</label>
    <input name="price">
    <label>Imagen (link de google)</label>
    <input name="thumbnail">
    <button>Enviar</button>
</form>