html
    body
        form(action="/products" method="post")
            label Nombre 
            input(name="name")
            label Precio 
            input(name="price")
            label Imagen (Link de Google)
            input(name="thumbnail")
            button Enviar   