<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section>
        <a href="http://localhost:8080/">inicio</a>
        <a href="http://localhost:8080/login">login</a>
    </section>
    <section>
        <h2 class="registerTitle">
            Registro de Usuarios
        </h2>
        <form action="/registerForm" method="post" id="register" class="register">
            <label>Mail</label>
            <input name="mail">
            <label>Nombre</label>
            <input name="name">
            <label>Apellido</label>
            <input name="last_name">
            <label>Edad</label>
            <input name="age">
            <label>Alias</label>
            <input name="username">
            <label>Avatar (URL)</label>
            <input name="avatar">
            <label>Contraseña</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
    </section>
</body>
</html>